body {
    font-family: 'Lato', sans-serif;
}

button {
    margin: 5px;
    padding: 3px;
    border-radius: 2px;
    border: solid black 1px;
    background-color: #123456;
    color: white;
}

input {
    margin: 5px;
    border-radius: 2px;
    border-color: gray;
}

/*Homepage*/

#homepageHeader {
    background-color: #123456;
    color: white;
    border-bottom: black;
}

#explaination {
    border: solid black 1px;
    margin: 10px;
}

/*Notices */

#notices {
    width: 98%;
    margin: 10px;
    background-color: #b12720;
}

/*Month*/
.monthBox {
    border: solid black 3px;
}

.monthHeader {
    background-color: #0c155f;
    display: block;
    height: 35px;

}

.monthTitle {
    text-align: center;
    vertical-align: middle;
}

.year {
    text-align: center;
    vertical-align: middle;

}

.weekdayNames{
    display: block;
}

.weekdayNames th {
    display: inline-block;
    padding: 3px;
    margin: 5px;
}

/*DayBox */

.day {
    border: solid black 1px;
}
.today {
    border: solid #b12720 3px;
}
