body {
    font-family: 'Lato', sans-serif;
}

button {
    margin: 5px;
    padding: 7px, 10px, 7px, 10px;
    border-radius: 2px;
    border: solid black 1px;
    background-color: #123456;
    color: white;
}

input {
    margin: 5px;
    border-radius: 2px;
    border-color: gray;
}

/*Homepage*/

#homepageHeader {
    background-color: #123456;
    color: white;
    border-bottom: black;
}

#explaination {
    border: solid black 1px;
    margin: 10px;
}

/*Notices */

#notices {
    width: 98%;
    margin: 10px;
    background-color: #b12720;
}

/*Month*/
/*.monthBox {
    border: solid black 5px;
    width: 100%;
}*/

/*.monthHeader {
    background-color: #0c155f;
    display: block;
    padding: 70px 25px;
    

}*/
/*
.monthTitle {
    display : inline-block;
    color: white;
    vertical-align: middle;

    margin: 0 auto;
    padding: 0;
}*/

/*.year {
    display: inline-block;
    color: white;
    vertical-align: middle;
     margin: 0;
    padding: 0;

}*/


.weekdayNames{
    width: 100%;
}


.weekdayNames th {
    padding: 3px;
    margin: 5px;
}

/*DayBox */

.day {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.today {
    border: solid #b12720 3px;
}


select {
    margin: 5px;
    
}

input {
    border: solid black 1px;
    margin: 1px 1px 1px 5px;
    width: 85%;
}

.dayDate {
    text-align: right;
    margin: 1px 5px 1px 1px;
}

